.title-animation {
  animation: slightpulse linear 1.9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: slightpulse linear 1.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slightpulse linear 1.9s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: slightpulse linear 1.9s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: slightpulse linear 1.9s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title-animation:hover {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  animation-play-state: paused;
  color:#01A9DB;
}

@keyframes slightpulse{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.03) scaleY(1.03) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes slightpulse{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(1.03) scaleY(1.03) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes slightpulse {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleX(1.03) scaleY(1.03) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes slightpulse {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleX(1.03) scaleY(1.03) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes slightpulse {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleX(1.03) scaleY(1.03) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

.button {
  border: 1px solid white;
  padding: 10px;
}

.setting {
  background-color: #01A9DB;
}

.thanks h1 {
  color: #fff;
  margin-top: 100px;
  font-size: 70px;
}

.home_page {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
  /*height: 400px;*/
}

.home_page h1 {
    margin: auto;
    vertical-align:middle;
    font-size: 40px;
    text-decoration: none;
}

.home_page a {
  border-bottom: none;
}


.home_page h1:hover {
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #01A9DB;
}

.home_page:hover {
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: #fff;
}