.title-animation:hover {
  animation: slightpulse linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: slightpulse linear 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slightpulse linear 0.8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: slightpulse linear 0.8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: slightpulse linear 0.8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes slightpulse{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes slightpulse{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes slightpulse {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes slightpulse {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes slightpulse {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  101% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

.button {
  border: 1px solid white;
  padding: 10px;
}